<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.juzzpa.servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Confirm</servlet-name>
		<servlet-class>com.juzzpa.servlet.RegistrationConfirmationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm</servlet-name>
		<url-pattern>/confirm/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BusinessDetailsPre</servlet-name>
		<servlet-class>com.juzzpa.servlet.BusinessDetailsPreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BusinessDetailsPre</servlet-name>
		<url-pattern>/businessDetailsPre</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.juzzpa.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddServices</servlet-name>
		<servlet-class>com.juzzpa.servlet.AddServicesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServices</servlet-name>
		<url-pattern>/addServices</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddStaff</servlet-name>
		<servlet-class>com.juzzpa.servlet.AddStaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStaff</servlet-name>
		<url-pattern>/addStaff</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddStore</servlet-name>
		<servlet-class>com.juzzpa.servlet.AddStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStore</servlet-name>
		<url-pattern>/addStore</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<listener>
	    <listener-class>com.juzzpa.utility.CentralConfig</listener-class>
	</listener>
</web-app>
